In [18]:
import pandas as pd

import geopandas
import geopandas as gpd
from shapely.geometry import Point, Polygon

pd.options.display.max_rows = 10

In [28]:
import geopandas as gpd
districts = gpd.read_file("https://opendata.paris.fr/explore/dataset/quartier_paris/download/?format=geojson&timezone=Europe/Paris")
districts.head()

,n_sq_qu,n_sq_ar,c_qu,surface,l_qu,perimetre,c_quinsee,c_ar,geometry
0,750000043,750000011,43,1.172087e+06,Roquette,4973.010557,7511103,11,"POLYGON ((2.37972 48.85344, 2.37937 48.85339, ..."
1,750000012,750000003,12,2.133164e+05,Sainte-Avoie,1861.804114,7510304,3,"POLYGON ((2.35822 48.86122, 2.35690 48.86007, ..."
2,750000036,750000009,36,5.004354e+05,Rochechouart,2862.450525,7510904,9,"POLYGON ((2.34971 48.88222, 2.34983 48.88109, ..."
3,750000041,750000011,41,7.257525e+05,Folie-Méricourt,3724.352694,7511101,11,"POLYGON ((2.37010 48.86376, 2.36690 48.86246, ..."
4,750000078,750000020,78,1.486971e+06,Saint-Fargeau,5405.036433,7512002,20,"POLYGON ((2.41381 48.87081, 2.41383 48.87066, ..."

In [50]:
import geopandas as gpd
stations = gpd.read_file("https://opendata.paris.fr/explore/dataset/velib-disponibilite-en-temps-reel/download/?format=geojson&timezone=Europe/Paris")
stations['lat'] = stations['geometry'].y
stations['lng'] = stations['geometry'].x
stations.head()

,nbfreeedock,nbebike,station_state,maxbikeoverflow,nbedock,station_type,overflowactivation,station_code,densitylevel,creditcard,...,nbbike,nbfreedock,overflow,nbbikeoverflow,duedate,kioskstate,nbebikeoverflow,geometry,lat,lng
0,24,2,Operative,0,35,yes,no,16107,1,no,...,9,0,no,0,2018-07-15,yes,0,POINT (2.27572 48.86598),48.865983,2.275725
1,37,1,Operative,55,52,yes,no,6015,1,yes,...,14,3,no,0,2018-04-05,yes,0,POINT (2.33910 48.85376),48.853756,2.339096
2,30,4,Operative,0,38,yes,no,11037,1,yes,...,4,0,no,1,2019-05-11,yes,0,POINT (2.36490 48.86787),48.867872,2.364898
3,20,1,Operative,21,21,yes,no,9020,1,yes,...,0,0,no,0,2018-11-30,yes,0,POINT (2.33736 48.87930),48.879296,2.337360
4,16,2,Operative,0,20,yes,no,11104,1,no,...,2,0,no,0,2018-10-22,yes,0,POINT (2.39257 48.85591),48.855908,2.392571

In [30]:
stations.dtypes

nbfreeedock           int64
nbebike               int64
station_state        object
maxbikeoverflow       int64
nbedock               int64
                     ...
nbbikeoverflow        int64
duedate              object
kioskstate           object
nbebikeoverflow       int64
geometry           geometry
Length: 21, dtype: object

In [31]:
joined = gpd.sjoin(stations, districts, op='within')
grouped = joined.groupby('c_quinsee').size()
df = grouped.to_frame().reset_index()
df.columns = ['c_quinsee', 'count']
districts = districts.merge(df, on='c_quinsee', how='outer')
districts.head()

,n_sq_qu,n_sq_ar,c_qu,surface,l_qu,perimetre,c_quinsee,c_ar,geometry,count
0,750000043,750000011,43,1.172087e+06,Roquette,4973.010557,7511103,11,"POLYGON ((2.37972 48.85344, 2.37937 48.85339, ...",13
1,750000012,750000003,12,2.133164e+05,Sainte-Avoie,1861.804114,7510304,3,"POLYGON ((2.35822 48.86122, 2.35690 48.86007, ...",4
2,750000036,750000009,36,5.004354e+05,Rochechouart,2862.450525,7510904,9,"POLYGON ((2.34971 48.88222, 2.34983 48.88109, ...",13
3,750000041,750000011,41,7.257525e+05,Folie-Méricourt,3724.352694,7511101,11,"POLYGON ((2.37010 48.86376, 2.36690 48.86246, ...",14
4,750000078,750000020,78,1.486971e+06,Saint-Fargeau,5405.036433,7512002,20,"POLYGON ((2.41381 48.87081, 2.41383 48.87066, ...",15

In [72]:
# Load an empty map
%run config_nb_edocks.py
from keplergl import KeplerGl 
map_1 = KeplerGl(height=600, width=800, data={'stations': stations, 'districts': districts}, config=config)

map_1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '9dpqucj', 'type': …

In [71]:
# Load an empty map
%run config_nb_free_edocks.py
from keplergl import KeplerGl 
map_1 = KeplerGl(height=600, width=800, data={'stations': stations, 'districts': districts}, config=config)

map_1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'nxadg4l', 'type': …

In [69]:
# with open('config_nb_free_edocks.py', 'w') as f:
#   f.write('config = {}'.format(map_1.config))